<p><label for="skin_name">name</label><br/>
<%= text_field 'skin', 'name'  %></p>
<p><label for="skin_width">width</label><br/>
<%= text_field 'skin', 'width', :size=>10 %></p>
<p><label for="skin_height">height</label><br/>
<%= text_field 'skin', 'height', :size=>10 %></p>